<!--
  Generated template for the EditProductPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{product.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="edit-product">
  <ion-list>
  
    <ion-item>
      <ion-label floating>Name</ion-label>
      <ion-input type="text" [(ngModel)]="product.name"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label floating>Normal Price (cents)</ion-label>
      <ion-input type="tell" [(ngModel)]="product.normal_price"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label floating>Sale Price (cents)</ion-label>
      <ion-input type="tell" [(ngModel)]="product.sale_price"></ion-input>
    </ion-item>
  
  </ion-list>
  <button (click)="takePicture()">Take a Picture</button>
  
  <div *ngIf="base64Image">
    <ion-card *ngFor="let base64Img of base64Image">
      <img [src]="base64Img"/>
      <ion-row no-padding>
        <ion-col>
          <button clear small danger (click)="removeBaseImage(base64Img)">
            <ion-icon name='trash'></ion-icon>
            Delete
          </button>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
  <ion-card *ngFor="let thumb of product.thumbs">
    <img src="https://jpweb-unimodern.c9users.io/attachments/file/download?id={{thumb.id}}"/>
    <ion-row no-padding>
      <ion-col>
        <button clear small danger (click)="removeImage(thumb)">
          <ion-icon name='trash'></ion-icon>
          Delete
        </button>
      </ion-col>
    </ion-row>
  </ion-card>

  <hr>
  <button (click)="saveProduct()">Save</button>

</ion-content>
